<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  
  <connectionStrings>
    
    <!--<add name="BusinessDatabase" connectionString="Data Source=A2DEV084;Initial Catalog=ASCENT2_BUSINESS;Integrated Security=False;Persist Security Info=True;User Id=sa;Password=Netsolpk1" providerName="System.Data.SqlClient" />-->
    <add name="BusinessDatabase" connectionString="Data Source=A2DEV084;Initial Catalog=TestDB;Integrated Security=False;Persist Security Info=True;User Id=sa;Password=Netsolpk1" providerName="System.Data.SqlClient"/>
    <!--<add name="BusinessDatabase" connectionString="Data Source=172.31.15.19\SQL2016;Initial Catalog=BatchDb;Integrated Security=False;Persist Security Info=True;User Id=sa;Password=Netsolpk1" providerName="System.Data.SqlClient"/>-->

    
  </connectionStrings>

  <appSettings>
    <add key="NodeId" value="NodeUsman"/>
    <add key="Throttling" value="0"/>
  </appSettings>

  <system.net>
    <defaultProxy useDefaultCredentials="true" >
    </defaultProxy>
  </system.net>

  <!--<defaultSqlTimeoutSecs value="1000" />
  <longSqlTimeoutSecs value="1500" />-->
</configuration>
